#Header{
  height:100px;
	text-align:center;
  background-color:Red;
  padding-top: 20px;
}

.T1{
  color: white;
}

#body{
  height:500px;
  width: 1902px;
  float:left;
  background-color:Green;
}

#footer{
  height:100px;
  width: 1902px;
  float:left;
  background-color:Blue;
}
